{% extends "layout.html.twig" %}

{% block content %}
    <div id="supercounter-wrap">
        <div id="supercounter">
            <div id="digit_0">
                <span>0</span>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span>7</span>
                <span>8</span>
                <span>9</span>
            </div>
            <div id="digit_1">
                <span>0</span>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span>7</span>
                <span>8</span>
                <span>9</span>
            </div>
            <div id="digit_2">
                <span>0</span>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span>7</span>
                <span>8</span>
                <span>9</span>
            </div>
            <div id="digit_3">
                <span>0</span>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span>7</span>
                <span>8</span>
                <span>9</span>
            </div>
        </div>
    </div>

    <p class="desc">Clicca se anche tu hai appena tirato una sonora ginocchiata alla cassettiera</p>

    <a href="#" id="ahi">Ho sbattuto il ginocchio</a>

    <div id="login-box">
        <fb:login-button id="fbLogin" scope="public_profile,email" onlogin="checkLoginState();">
        </fb:login-button>

        <div id="status">
        </div>

        {% if user_count is defined %}
            <a href="{{ app.url_generator.generate('fb_logout') }}">Logout</a><br/>
            {{ first_name }}  Hai tirato <span id="user-counter">{{ user_count }}</span> ginocchiate!
        {% endif %}
    </div>

    {% if classifica|length > 0 %}
        <h3>Classifica</h3>
        <ul id="classifica">
            {% for user in classifica  %}
                <li><img src="{{ user.facebook_id|fb_avatar }}" /> - {{ user.first_name }} - {{ user.total }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

